If:
  PathMatch: harness/(fuzz|e2e)/c/.*\.c
CompileFlags:
  Add:
    - -xc
    - -std=c11
    - -ffreestanding
    - -fno-builtin
    - -Wall
    - -Wextra
    - -Iharness/common
    - -Iharness/fuzz/c
    - -Ic/checker
    - -Ic/checkpoint
    - -Ic/control_flow
    - -Ic/recovery_block
    - -Ic/tmr
---
If:
  PathMatch: c/.*\.c
CompileFlags:
  Add:
    - -xc
    - -std=c11
---
If:
  PathMatch: .*\.h
CompileFlags:
  Add:
    - -xc-header
    - -std=c11
    - -Iharness/common
    - -Iharness/fuzz/c
    - -Ic/checker
    - -Ic/checkpoint
    - -Ic/control_flow
    - -Ic/recovery_block
    - -Ic/tmr
